<h3 class="title-supplier">Lista de Fornecedor</h3>

  <button
    (click)="openModalCreate($event)"
    type="button"
    class="btn btn-primary"
  >
    Create Supplier
  </button>
  <table>
    <thead>
      <tr>
        <th>Nome</th>
        <th>CNPJ/CPF</th>
        <th>RG</th>
        <th>Data de Nascimento</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      @for(supplier of this.listSuppliers; track supplier.id){
      <tr>
        <td>{{ supplier.name }}</td>
        <td>{{ supplier.cnpjCpf }}</td>
        <td>{{ supplier.rg }}</td>
        <td>{{ supplier.dateOfBirth }}</td>
        <td>{{ supplier.email }}</td>
      </tr>
    }
    </tbody>
  </table>

