<h3 class="title-supplier">Lista de Fornecedor</h3>

<button
  (click)="openModalCreate()"
  type="button"
  class="btn btn-primary mb-4"
>
  Cadastrar Fornecedor
</button>

<div class="table-responsive">
  <table class="table table-hover align-middle">
    <thead class="table-light">
      <tr>
        <th scope="col" class="px-5">Nome</th>
        <th scope="col" class="px-5">CNPJ/CPF</th>
        <th scope="col" class="px-5">RG</th>
        <th scope="col" class="px-5">Data de Nascimento</th>
        <th scope="col" class="px-5">Email</th>
        <th scope="col" colspan="2">Alterações</th>
      </tr>
    </thead>

    <tbody>
      @for(supplier of this.listSuppliers; track supplier.id){
      <tr>
        <td class="px-5 py-3">{{ supplier.name }}</td>
        <td class="px-5 py-3">{{ supplier.cnpjCpf }}</td>
        <td class="px-5 py-3">{{ supplier.rg }}</td>
        <td class="px-5 py-3">{{ supplier.dateOfBirth }}</td>
        <td class="px-5 py-3">{{ supplier.email }}</td>
        <td>
                    <button
                     (click)="openModalEdit(supplier)" 
                     type="button" 
                     class="btn btn-warning" 
                     data-toggle="button" 
                     aria-pressed="false" 
                     autocomplete="off">
                     Editar
                    </button>
                </td>
                <td>
                    <button
                     (click)="openModalDelete(supplier)" 
                     type="button" 
                     class="btn btn-danger" 
                     data-toggle="button" 
                     aria-pressed="false" 
                     autocomplete="off">
                     Deletar
                    </button>
                </td>
      </tr>
      }
    </tbody>
  </table>
</div>
