<h3 class="title-supplier mb-3">Lista de Fornecedor</h3>

<button
  (click)="openModalCreate()"
  type="button"
  class="btn btn-primary mb-3"
>
  Cadastrar Fornecedor
</button>

<div class="table-responsive">
  <table class="table table-hover align-middle table-sm">
    <thead class="table-light">
      <tr>
        <th class="px-2">Nome</th>
        <th class="px-2 text-nowrap">CNPJ/CPF</th>
        <th class="px-2">RG</th>
        <th class="px-2 text-nowrap">Nascimento</th>
        <th class="px-2">Email</th>
        <th class="px-2">CEP</th>
        <th class="px-2">Rua</th>
        <th class="px-2">Nº</th>
        <th class="px-2">Complemento</th>
        <th class="px-2">Cidade</th>
        <th class="px-2">Estado</th>
        <th class="px-2 text-center" colspan="2">Ações</th>
      </tr>
    </thead>

    <tbody>
      @for(supplier of this.listSuppliers; track supplier.id){
      <tr>
        <td class="px-2 py-2">{{ supplier.name }}</td>
        <td class="px-2 py-2 text-nowrap">{{ supplier.cnpjCpf }}</td>
        <td class="px-2 py-2">{{ supplier.rg }}</td>
        <td class="px-2 py-2 text-nowrap">{{ supplier.dateOfBirth }}</td>
        <td class="px-2 py-2">{{ supplier.email }}</td>
        <td class="px-2 py-2">{{ supplier.address.cep }}</td>
        <td class="px-2 py-2">{{ supplier.address.street }}</td>
        <td class="px-2 py-2">{{ supplier.address.number }}</td>
        <td class="px-2 py-2">{{ supplier.address.complement }}</td>
        <td class="px-2 py-2">{{ supplier.address.city }}</td>
        <td class="px-2 py-2">{{ supplier.address.state }}</td>

        <td class="px-2 py-2">
          <button
            (click)="openModalEdit(supplier)"
            type="button"
            class="btn btn-warning btn-sm"
          >
            Editar
          </button>
        </td>

        <td class="px-2 py-2">
          <button
            (click)="openModalDelete(supplier)"
            type="button"
            class="btn btn-danger btn-sm"
          >
            Deletar
          </button>
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>